{{ '<script type="text/ng-template" id="alertHomepage.html">' }}
<article>
    {#<div class="modal-header" ng-if="title">
        <h1>[[ title ]]</h1>
    </div>#}
    <div class="modal-body">
        <div class="alert-msg [[ type ]]">
            <span>Zarejestruj się na Wielki zjazd - 27 czerwca Lubin<br />
                <a href="http://zjazd.ruchjow.pl" target="_blank">więcej informacji...</a>
            </span>
        </div>
    </div>
    <div class="modal-footer" ng-if="showOkBtn">
        <button class="btn btn-msg-ok" ng-click="close()">
            <span>[[ btnOkCaption ]]</span>
        </button>
    </div>
</article>
{{ '</script>' }}