{{ '<script type="text/ng-template" id="cookiesInfo.html">' }}
    <div ruch-jow-cookie-info id="cookie_info">
        <div class="container">
            Ta strona korzysta z plików cookie <span class="accept-btn" ng-click="accept()">OK, rozumiem</span>
            <span><a ng-href="/prywatnosc.html" class="clickable" translate>privacy policy</a></span>
        </div>
    </div>
{{ '</script>' }}