{{ '<script type="text/ng-template" id="footer.html">' }}

<div class="container footer">
    <div class="social-links">
        <a href="https://www.facebook.com/spolecznoscJOW" class="social-facebook-icon"></a>
        <a href="https://twitter.com/spolecznoscJOW"      class="social-twitter-icon"></a>
        <a href="https://www.youtube.com/channel/UCCVfn0emnil9xGE77Vl9IwQ" class="social-youtube-icon"></a>
        <a href="https://plus.google.com/u/0/104684606901887996219/posts" class="social-google-plus-icon"></a>
    </div>

    <span><a ui-sref="about" ruch-jow-force-hash-href="" class="clickable" translate>menu.about</a></span>
    |
    <span><a href="http://sklep.ruchjow.pl" target="_blank" translate>menu.shop</a></span>
    |
    <span><a ui-sref="faq" ruch-jow-force-hash-href="" class="clickable" translate>menu.faq</a></span>
    |
    <span><a ng-href="/prywatnosc.html" class="clickable" translate>Privacy Policy</a></span>
    |
    <span><a ng-href="/regulamin.html" class="clickable" translate>Terms</a></span>
    |
    <span><a ng-href="/zasady_i_regulamin.html" class="clickable" translate>Rules & terms</a></span>
    |
    <span><a ui-sref="sponsors" ruch-jow-force-hash-href="" class="clickable" translate>Fundatorzy strony ruchjow.pl</a></span>
    <hr/>

    <div class="copyright">Wszelkie prawa zastrzeżone &copy; 2014 RuchJOW.pl</div>
    <div class="address">
        <a href="http://fundacja.jow.pl">Fundacja Jednomandatowe Okręgi Wyborcze imienia Prof. Jerzego Przystawy</a>
        ul. Legnicka 65, 54-206 Wrocław
        KRS: 0000521609, NIP: 8943055763,
        {#tel.: +48 71 3424644#}, e-mail: <a href="mailto:kontakt@ruchjow.pl" class="email">kontakt@ruchjow.pl</a><br/>
        konto do wpłat: 78 1240 6768 1111 0010 5970 1861
    </div>

</div>

{{ '</script>' }}