<p>Twoje zgłoszenie zostało przyjęte.</p>

<p>
    Czekaj na zgłoszenie się do Ciebie pracownika naszego biura
    w celu uzgodnienia szczegółów.
    Nastąpi to w ciągu najbliższych 5 dni roboczych.
    Sprawdź, czy dane na twoim profilu -
    zwłaszcza numer telefonu - są aktualne.
</p>

<p>
Ekipa Ruchu JOW.
</p>