<p>Twoje zgłoszenie zostało przyjęte.</p>
<p>
    Na adres podany w Twoim profilu w serwisie
    w ciągu najbliższych 5 dni roboczych
    zostanie wysłany pakiet materiałów.
</p>
<p>
W razie dodatkowych pytań prosimy o kontakt.
</p>

<p>
Ekipa Ruchu JOW.
</p>