{% extends 'RuchJowAppBundle:Partials:staticPage.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block static_page_content %}

    <div class="highlighted">
        <p>
            <strong>
                Dostajemy setki maili dziennie. Prosimy o cierpliwość, jeśli czas odpowiedzi się przedłuża. Chęć organizowania spotkań i kolportażu materiałów prosimy zgłaszać przez serwis po zalogowaniu. O telefony prosimy tylko w pilnych sprawach.
            </strong>
        </p>
        <p>
            <strong>
                Dziękujemy za wyrozumiałość!
            </strong>
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Biuro Ruchu Obywatelskiego na rzecz Jednomandatowych Okręgów Wyborczych</h2>
            <p>
                Ul. Białoskórnicza 3/1<br/>
                50-134 Wrocław<br/>
                <a href="mailto:kontakt@ruchjow.pl">kontakt@ruchjow.pl</a><br/>
                tel. +48 71 342 46 44; +48 669 651 620;
            </p>

            <p>
                <strong>Szef biura</strong><br/>
                Maciej Skwara{#<br/>#}
                {#<a href="mailto:maciej.skwara@ruchjow.pl">maciej.skwara@ruchjow.pl</a>#}
            </p>

            <p>
                <strong>Kontakt dla mediów</strong><br/>
                Patryk Hałaczkiewicz<br/>
                tel. 797 489 451{#<br/>
                patryk.halaczkiewicz@ruchjow.pl#}
            </p>

            <p>
                <strong>Koordynacja wolontariuszy</strong><br/>
                Karol Maluchnik<br/>
                <a href="mailto:karol.maluchnik@ruchjow.pl">karol.maluchnik@ruchjow.pl</a>
            </p>

            <div class="highlighted">
                <strong>
                    Jeśli chcesz pomóc w pracy biura we Wrocławiu, prosimy o kontakt.
                </strong>
            </div>
        </div>

        <div class="col-md-6">

            <h2>Środowiska Samorządowe</h2>
            <p>
                Jesteśmy świadomi, że większość środowisk samorządowych popiera nasz postulat.
                Dlatego chętnie umieścimy na mapie wszelkie uchwały i oświadczenia (rady gminy, powiatu, miasta; wójtów, burmistrzów, prezydentów miast…)
                popierające postulat wprowadzenia 460 JOW w wyborach do Sejmu.
            </p>
            <p>
                Zainteresowanych prosimy o kontakt: <a href="mailto:samorzad@ruchjow.pl">samorzad@ruchjow.pl</a>
            </p>


            <h2>Dział IT</h2>
            <p>
                <a href="mailto:it@ruchjow.pl">it@ruchjow.pl</a>
            </p>

            <div class="highlighted">
                <p>
                    <strong>
                        Poszukujemy informatyków, którzy chcieliby się włączyć w rozwój serwisu internetowego ruchjow.pl
                        W pierwszej kolejności poszukujemy:
                    </strong>
                </p>

                <strong>Programistów:</strong>

                <ul>
                    <li>PHP (w szczególności Symfony)</li>
                    <li>Javascript: AngularJs, NodeJs</li>
                    <li>HTML5, CSS</li>
                    <li>MySql, MongoDb</li>
                    <li>Szeroko pojęte Facebook API</li>
                    <li>Mobile (np. ionicframework.com)</li>
                </ul>
                <p>
                    Jeśli chciałbyś pomóc, wypełnij formularz <a href="http://goo.gl/forms/MMWiy2Pb4t"> formularz </a>
                </p>

                <strong>Testerów:</strong>
                <ul>
                    <li>mile widziana znajomością Selenium/WebDriver</li>
                </ul>

                <p>

                    Jeśli chciałbyś pomóc, wypełnij <a href="http://goo.gl/forms/c3ZV8iQ0cg"> formularz </a>
                </p>

                <p>
                    Jeśli nie znasz powyższych technologii, za to masz inne ciekawe techniczne pomysły,  prosimy o kontakt na adres <a href="mailto:it@ruchjow.pl">it@ruchjow.pl</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
