{% extends 'RuchJowAppBundle:Partials:staticPage.html.twig' %}

{#% set controllerName = 'SponsorsController' %#}

{% block title %}O co walczymy?{% endblock %}

{% block static_page_content %}

    <p>
        Instytucje naszego państwa działają źle lub nie ma ich wcale.
        My jako obywatele we własnym państwie mamy niewiele do powiedzenia.
        Większość akcji społecznych inicjowanych przez Polaków jest przez polityków lekceważona.
        Obywatele zgłaszają projekty i ustawy zbierając setki tysięcy podpisów – bez żadnego efektu.
        CZAS TO ZMIENIĆ!
        Czas przywrócić w życiu publicznym znaczenie słowa ODPOWIEDZIALNOŚĆ!
        Odpowiedzialność przed obywatelami a nie klanami partyjnymi.
        Odpowiedzialność polityków to odpowiedzialność urzędników, w biznesie czy w mediach.
    </p>

    <p><em>Czas na Efekt JOW!</em></p>

    <p>
        Oddajemy Wam serwis społecznościowy efektJOW.pl, który może zmienić nasz kraj.
        By tak się stało potrzebujemy Twojej pomocy!
        Razem z Twoim zaangażowaniem wspólnie nam się uda.
        Jak to zrobić?
    </p>

    <p>
        <em>
            W matematycznej teorii chaosu, analizującej dynamikę nieregularności i
            bezwładu układów nieliniowych, istnieje kluczowe pojęcie <strong>"efektu motyla"</strong>.
            Machnięcie skrzydełkami przez motyla wytwarza niewielką lokalną zmianę w powietrzu.
            Ale w warunkach chaosu ta niewielka zmiana w dłuższym okresie czasu może wywołać HURAGAN na drugim kontynencie.
            Szczególnie jak MOTYLI będzie kilkaset tysięcy!
        </em>
    </p>

    <p>
        Podobnie jest z zaangażowaniem obywatelskim.
        Pojedynczo jesteśmy skazani na porażkę, politycy nie zmienią państwa za nas.
        Razem może nam się udać! Taki ma być efektJOW.pl.
        Chcemy zbudować dużą społeczność, która swoimi działaniami wymusi KONIECZNĄ ZMIANĘ,
        zmianę systemu wyborczego na Jednomandatowe Okręgi Wyborcze.
        Chcemy 460 JOW w wyborach do Sejmu z równą dla wszystkich swobodą do kandydowania.
        Tak jak wybiera się przedstawicieli w większości znaczących państw na świecie:
        <strong>Wielkiej Brytanii</strong>,
        <strong>USA</strong>,
        <strong>Kanadzie</strong>,
        <strong>Francji</strong>,
        <strong>Indiach</strong>,
        <strong>Japonii</strong>,
        <strong>Australii</strong>.
    </p>

    <div class="movie-center">
        <iframe width="560" height="315" src="//www.youtube.com/embed/nQKzDiqc4rQ" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}