<div id="user_account_page" class="page">
    <div class="container main">

        <div tabset="" class="tabset-level-1 no-content">
            <div tab="" heading="Historia punktów" active="tabs.history.active" disabled="tabs.yourData.disabled"></div>
            <div tab="" heading="Twoje dane" active="tabs.yourData.active" disabled="tabs.yourData.disabled"></div>
            <div tab="" heading="Wiadomości" active="tabs.messages.active" disabled="tabs.messages.disabled"></div>
        </div>

        <div ui-view="" class="tab-content"></div>


    </div>
</div>