{{ '<script type="text/ng-template" id="referralLinkHandlerModal.html">' }}
    <div class="close-control" ng-click="cancel()"></div>
    <div class="modal-header">
        <h1>[[ 'user.referralInfo.title'|translate ]]</h1>
    </div>
    <div class="modal-body">
        <div class="alert-msg info">
            [[ 'user.referralInfo.msg'|translate ]]
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">
        <a ui-sref="about" class="btn btn-primary" ng-click="cancel()">Poznaj RuchJow.pl</a>
    </div>
{{ '</script>' }}