{% extends '@RuchJowApp/layout.html.twig' %}

{# JAVASCRIPTS #}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@RuchJowAppBundle/Resources/angular/controllers/*.js'

        '@RuchJowAppBundle/Resources/angular/services/*.js'

        '@RuchJowAppBundle/Resources/angular/translations.js'

        '@RuchJowAppBundle/Resources/angular/main.js'
        '@RuchJowAppBundle/Resources/angular/config/*.js'

        '@RuchJowRanksBundle/Resources/angular/map.js'
        '@RuchJowRanksBundle/Resources/angular/ranks.js'
        '@RuchJowRanksBundle/Resources/js/infobubble-compiled.js'

        '@RuchJowMessagesBundle/Resources/angular/messages.js'

        '@RuchJowTransferujPlBundle/Resources/angular/ruchJowTransferujPl.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {# User Bundle JS files #}
    {% include '@RuchJowUser/js.html.twig' %}

    {# DISQUS #}
    <script type="text/javascript" async="" src="//efektjow.disqus.com/embed.js" style=""></script>

    {# TWITTER #}
    <script type="text/javascript" async="" src="//platform.twitter.com/widgets.js" style=""></script>

    {# FACEBOOK #}
    <script type="text/javascript" async="" src="//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.1" style=""></script>

    {# TAG MANAGER #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TWPTLX');</script>

    {# SUGESTER #}
    <script>sugester_tab = 0;</script>
    <script src='//s3-eu-west-1.amazonaws.com/app1.sugester.com/6867/widget.js' type='text/javascript'></script>

    {# EXTREME TRACKING #}
    <script src="//nht-2.extreme-dm.com/t.js" id="eX-ruchjowy-2" async defer></script>
{% endblock %}


{# INLINE PARTIALS#}
{% block angularInlineTemplates %}
    {{ parent() }}

    {# APP INLINE PARTIALS#}
    {% include '@RuchJowApp/PartialsInline/homepage.html.twig' %}
    {% include '@RuchJowApp/PartialsInline/homepageNavbar.html.twig' %}
    {% include '@RuchJowApp/PartialsInline/userMenuElement.html.twig' %}
    {% include '@RuchJowApp/PartialsInline/footer.html.twig' %}
    {% include '@RuchJowApp/PartialsInline/cookiesInfo.html.twig' %}
    {% include '@RuchJowApp/PartialsInline/alertHomepage.html.twig' %}
{% endblock %}

{% block bodyattrs %}{{ parent() }} ng-controller="MainCtrl"{% endblock %}

{% block content %}
    <div ng-include src="'cookiesInfo.html'"></div>

    <div id="floating_menu">
        <a class="clickable calendar" target="_blank" href="https://www.google.com/calendar/embed?src=lsvabs1m2pek5e4tifs9drtdm0%40group.calendar.google.com&ctz=Europe/Warsaw" translate="calendar.link"></a>
        <a class="clickable feedback" href="#" data-href="https://ruchjow.sugester.pl/rozwijaj/app/form.html?link=1" rel="radbox;width=700;height=400" onclick="return false;" translate="feedback.link"></a>
    </div>
    {#<a class="clickable feedback" ng-click="feedback()" translate>feedback.link</a>#}


    <div ng-include src="'homepageNavbar.html'"></div>

    {#<div ng-view class="page-wrapper"></div>#}
    <div ui-view class="page-wrapper"></div>

    <div ng-include src="'footer.html'" class="footer-wrapper"></div>
{% endblock %}