# This file is a "template" of what your parameters.yml file should look like
parameters:
    router.request_context.host: ruchjow.pl
    router.request_context.scheme: https
    router.request_context.base_url: ''

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ruchjow
    database_user:     root
    database_password: ~

    app_dev_security_disable: false
    app_dev_security_allow_http_client_ip: false
    app_dev_security_allow_http_x_forwarded_for: false
    app_dev_security_disallowed_php_sapi_names: ['cli-server']
    app_dev_security_allowed_remote_addr: ['127.0.0.1', 'fe80::1', '::1']

    mailer_transport:        smtp
    mailer_host:             127.0.0.1
    mailer_port:             ~
    mailer_encryption:       ~
    mailer_auth_mode:        ~
    mailer_user:             ~
    mailer_password:         ~

    mailer_default_from:      ~
    mailer_default_from_name: ~
    mailer_default_reply_to:  ~
    mailer_delivery_address:  ~
    mailer_disable_delivery:  false

    freshmail_api_key:    ~
    freshmail_api_secret: ~

    mailgun_api_key: ~
    mailgun_domain:  ~

    transferuj_pl_user_id:       ~
    transferuj_pl_security_code: ~

    facebook_client_id:     ~
    facebook_client_secret: ~

    locale:            pl
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    node:       "/usr/bin/nodejs"
    node_paths: ["%kernel.root_dir%/../node_modules"]