{{ '<script type="text/ng-template" id="forgotPasswordFormModal.html">' }}
<article>
<form ng-submit="generateLink()" name="ruchJowForgotPassword">
    <div class="close-control" ng-click="cancel()"></div>

    <div class="modal-header">
        <h1>Resetowanie lub ustawienie pierwszego hasła</h1>
        <div ng-if="errorMessage" class="te-error-msg">[[ errorMessage|translate ]]</div>
    </div>
    <div class="modal-body">
        {# E-mail #}
        <div
            ruch-jow-form-simple-field="email"
            {#label="security.forgotPasswordForm.email"#}
            ruch-jow-form-show-label="false"

            errors="validation.email.$labels"
        >
            <input
                type="text" name="email"
                ng-model="data.email" ng-model-options="ngModelOptions()"
                ng-pattern="validation.email.pattern"
                ng-required="true"
                ruch-jow-enter-down-trigger
                ruch-jow-form-null-if-empty
                title="[[ 'security.forgotPasswordForm.email'|translate ]]"
                placeholder="[[ 'security.forgotPasswordForm.email'|translate ]]"
            />
        </div>

        <div class="btns">
            <button type="submit" class="btn btn-reset-password btn-go" ng-disabled="ruchJowForgotPassword.$pending || !ruchJowForgotPassword.$valid || inProgress">
                <span class="glyphicon glyphicon-refresh te-spin-fast" ng-if="inProgress"></span> Wyślij
            </button>
        </div>
    </div>

</form>
</article>
{{ '</script>' }}