{{ '<script type="text/ng-template" id="newPasswordFormModal.html">' }}
<article>
    <form ng-submit="setNewPassword()" name="ruchJowNewPassword">
        <div class="close-control" ng-click="cancel()"></div>

        <div class="modal-header">
            <h1 translate>security.newPassword.title</h1>
            <div ng-if="errorMessage" class="te-error-msg">[[ errorMessage ]]</div>
        </div>

        <div class="modal-body">
            <p ng-show="isTokenValid === null" translate="">security.newPassword.token.verify.pending</p>
            <p ng-show="isTokenValid === false" translate="">security.newPassword.token.verify.fail</p>

            <div ng-show="isTokenValid">
                <div
                    {#ruch-jow-form-single-row#}
                    ruch-jow-form-simple-field="password"
                    {#label="security.newPassword.password"#}
                    ruch-jow-form-show-label="false"

                    errors="validation.password.$labels"
                >
                    <input
                        type="password" name="password"
                        ng-model="data.password" {#ng-model-options="ngModelOptions()"#}
                        ng-pattern="validation.password.pattern"
                        ruch-jow-enter-down-trigger
                        ng-required="true"
                        title="[[ 'security.newPassword.password'|translate ]]"
                        placeholder="[[ 'security.newPassword.password'|translate ]]"
                        />
                </div>

                {# Password repeat#}
                <div
                    {#ruch-jow-form-single-row#}
                    ruch-jow-form-simple-field="passwordRepeat"
                    {#label="security.newPassword.passwordRepeat"#}
                    ruch-jow-form-show-label="false"

                    errors="validation.passwordRepeat.$labels"
                    ng-hide="passwordCollapsed"
                >
                    <input
                        type="password" name="passwordRepeat"
                        ng-model="data.passwordRepeat" {#ng-model-options="ngModelOptions()"#}
                        ruch-jow-enter-down-trigger
                        mg-required="true"
                        title="[[ 'security.newPassword.passwordRepeat'|translate ]]"
                        placeholder="[[ 'security.newPassword.passwordRepeat'|translate ]]"
                        ruch-jow-equals="data.password"
                    />
                </div>

                <div class="btns">
                    <button type="submit" class="btn btn-new-password btn-go" ng-disabled="ruchJowNewPassword.$pending || !ruchJowNewPassword.$valid || inProgress"  ng-show="isTokenValid">
                        <span class="glyphicon glyphicon-refresh ruch-jow-spin-fast" ng-if="inProgress"></span> [[ 'security.newPassword.submit'|translate ]]
                    </button>
                    {#<button class="btn btn-warning" ng-click="cancel()">Anuluj</button>#}
                </div>
            </div>
        </div>
    </form>
</article>
{{ '</script>' }}