<strong>Otrzymaliśmy żądanie utworzenia / zresetowania hasła</strong>
<p>
Aby zmienić hasło kliknij w poniższy link i wprowadź nowe hasło w formularzu, który zostanie otwarty.<br />
<br />
<a href="{{ newPasswordUrl }}">{{ newPasswordUrl }}</a>
</p>

<p>Jeśli nie zgłaszałeś chęci utworzenia nowego hasła, nie musisz nic robić. Twoje dotychczasowe hasło pozostanie aktywne, a link wygaśnie w ciągu 24 godzin.</p>

<p>
Pozdrawiamy,<br />
Zespół ruchJOW.pl
</p>
