<strong>Dziękujemy za Twoje poparcie!</strong>
<p>
Aby je potwierdzić (a tym samym adres e-mail), prosimy o kliknięcie w poniższy link
lub skopiowanie go do pola adresu i otwarcie w przeglądarce:<br />
<br />
<a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</p>

<p><strong>Serwis cały czas będzie rozwijany. Wkrótce nowe funkcjonalności.</strong></p>

<p>
Pozdrawiamy,<br />
Zespół ruchJOW.pl
</p>
