<strong>Otrzymaliśmy żądanie usunięcia konta</strong>
<p>
    Usunięcia konta nie będzie można cofnąć. Aby potwierdzić usunięcie konta kliknij w poniższy link.<br />
<br />
<a href="{{ removeAccountUrl }}">{{ removeAccountUrl }}</a>
</p>

<p>
Pozdrawiamy,<br />
Zespół ruchJOW.pl
</p>
