{{ '<script type="text/ng-template" id="sidebar.html">' }}

<div class="sidebar-header">
    <div class="brand"><div>[[ ruchJowGetConstant('SITE_NAME') ]]</div></div>
    <div class="icons-tray"><div></div></div>
</div>

<div class="sidebar-content">
    <ul class="sidebar-nav">
        {#<li ng-class="{ active: $state.is('main')}"><a ui-sref="main">Overview</a></li>#}
        <li ng-class="{ active: $state.is('feedback')}"><a ui-sref="feedback" ruch-jow-force-hash-href="">Feedback</a></li>
        <li ng-class="{ active: $state.is('userUsers')}"><a ui-sref="userUsers" ruch-jow-force-hash-href="">Użytkownicy niezweryfikowani</a></li>
        <li ng-class="{ active: $state.is('tasks')}"><a ui-sref="tasks" ruch-jow-force-hash-href="">Zadania</a></li>
        <li ng-class="{ active: $state.is('referendumPoints')}"><a ui-sref="referendumPoints" ruch-jow-force-hash-href="">Punkty referendalne</a></li>
        <li ng-class="{ active: $state.is('jowEvents')}"><a ui-sref="jowEvents" ruch-jow-force-hash-href="">Wydarzenia</a></li>
    </ul>
</div>

{{ '</script>' }}